@model eGym.Models.Tienda

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Desea eliminar este elemento?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenTienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenTienda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idTienda" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-outline-dark" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
    </form>
</div>
