@model IEnumerable<eGym.Models.Tienda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagenTienda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagenTienda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idTienda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idTienda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idTienda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
