@model eGym.Models.Ropa

@{
    ViewData["Title"] = "Detalle";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header bg-dark text-white">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => Model.nombre)
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@Model.idRopa" class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                }
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4" justify-content-center">
                    @if (!string.IsNullOrEmpty(Model.imagenRopa))
                    {
                        <img src="~/pictures/img-ropa/@Model.imagenRopa" width="100%" asp-append-version="true" />
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>@Html.DisplayNameFor(model => model.detalles): </b> @Html.DisplayFor(modelItem => Model.detalles)</p>
                        <p class="card-text"><b>@Html.DisplayNameFor(model => model.Categoria): </b> 
                            <a asp-controller="Categorias" asp-action="Details" asp-route-id="@Model.categoriaId">
                                @Html.DisplayFor(modelItem => Model.Categoria.nombre)
                            </a>
                        </p>
                        <p class="card-text"><b>@Html.DisplayNameFor(model => model.Marca): </b> 
                            <a asp-controller="Marcas" asp-action="Details" asp-route-id="@Model.marcaId">
                                @Html.DisplayFor(modelItem => Model.Marca.nombre)
                            </a>
                        </p>
                        <p class="card-text"><b>@Html.DisplayNameFor(model => model.Tienda): </b> 
                            <a asp-controller="Tiendas" asp-action="Details" asp-route-id="@Model.tiendaId">
                                @Html.DisplayFor(modelItem => Model.Tienda.nombre)
                            </a>
                        </p>
                            <p class="card-text">
                                <b>Colores: </b>
                                <hr />
                                <div class="row align-items">
                                    @foreach (var Color in Model.ropas_colores)
                                    {
                                        <div class="column text-center">
                                            <img class="border-info rounded-circle" src="~/pictures/img-colores/@Color.color.imagenColor" style="max-width:150px" asp-append-version="true" />

                                            <br />
                                            <a asp-controller="Colores" asp-action="Details" asp-route-id="@Color.idColor">@Color.color.nombre</a>
                                        </div>
                                    }
                                </div>
                            </p>
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a href="@Model.linkElemento" target="_blank" class="btn btn-outline-dark"><i class="bi bi-cart4"></i> Comprar ($@Html.DisplayFor(modelItem => Model.precio))</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div>
    <a class="btn btn-outline-dark" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
</div>
