@model eGym.Models.Ropa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ropa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenRopa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenRopa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.idMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tienda.idTienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.idCategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idRopa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
