@model eGym.Models.Ropa

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Ropa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idRopa" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detalles" class="control-label"></label>
                <input asp-for="detalles" class="form-control" />
                <span asp-validation-for="detalles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="imagenRopa" id="imagenRopa" value="@Model.imagenRopa" />
                <img src="@(!string.IsNullOrEmpty(Model.imagenRopa) ? "/pictures/img-ropa/"+Model.imagenRopa : "")" id="imagen" class="rounded-circle" style="max-width:50px" />
                <input type="file" name="seleccionImg" id="seleccionImg" accept="image/jpeg" />
                <label class="control-label">Seleccione una imagen</label>

                <span asp-validation-for="imagenRopa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcaId" class="control-label"></label>
                <select asp-for="marcaId" class="form-control" asp-items="ViewBag.marcaId"></select>
                <span asp-validation-for="marcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tiendaId" class="control-label"></label>
                <select asp-for="tiendaId" class="form-control" asp-items="ViewBag.tiendaId"></select>
                <span asp-validation-for="tiendaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoriaId" class="control-label"></label>
                <select asp-for="categoriaId" class="form-control" asp-items="ViewBag.categoriaId"></select>
                <span asp-validation-for="categoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkElemento" class="control-label"></label>
                <input asp-for="linkElemento" class="form-control"/>
                <span asp-validation-for="linkElemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" />
            </div>
            <br />
        </form>
    </div>
    <table class="table">
        <h4>Relación de Colores:</h4>
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.imagenRopa)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th class="text-center">
                    Imagen 
                </th>
                <th class="text-center">
                    Nombre
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ropas_colores)
            {
                <tr>
                    <td class="align-middle">
                        @if (!string.IsNullOrEmpty(item.ropa.imagenRopa))
                        {
                            <img src="~/pictures/img-ropa/@item.ropa.imagenRopa" class="rounded-circle" style="max-width:150px" asp-append-version="true" />
                        }
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ropa.nombre)
                    </td>
                    <td class="align-middle">
                        @if (!string.IsNullOrEmpty(item.color.imagenColor))
                        {
                            <img src="~/pictures/img-colores/@item.color.imagenColor" class="rounded-circle" style="max-width:150px" asp-append-version="true" />
                        }
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.color.nombre)
                    </td>
                    @*                    <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
