@*@model IEnumerable<eGym.Models.Ropa>*@
@model eGym.ModelsView.RopaViewModel

@{
    ViewData["Title"] = "Lista de Indumentaria";
}

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<form asp-action="Index" method="get">
    <p>
        Filtros:<br />
        Nombre: <input type="text" name="busqNombre" value="@Model.busqNombre"/>
@*        Categoría: <select name="categoriaId" asp-items="@Model.ListaCategoria">*@
            <option value="">Todas</option>
        </select>
        <input type="submit" value="Filtrar" />
    </p>
</form>
<div class="row">
    @foreach (var item in Model.ListaRopa){
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.nombre)
                                    <a asp-action="Edit" asp-route-id="@item.idRopa" class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 align-content-center">
                        @if (!string.IsNullOrEmpty(item.imagenRopa)){
                            <img src="~/pictures/img-ropa/@item.imagenRopa" width="100%" asp-append-version="true" />
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>@Html.DisplayNameFor(model => model.ListaRopa[0].detalles): </b> @Html.DisplayFor(modelItem => item.detalles)</p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Categoria): </b> 
                                <a asp-controller="Categorias" asp-action="Details" asp-route-id="@item.categoriaId">
                                    @Html.DisplayFor(modelItem => item.Categoria.nombre)
                                </a>
                            </p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Marca): </b>
                                <a asp-controller="Marcas" asp-action="Details" asp-route-id="@item.marcaId">
                                    @Html.DisplayFor(modelItem => item.Marca.nombre)
                                </a>
                            </p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Tienda): </b>
                                <a asp-controller="Tiendas" asp-action="Details" asp-route-id="@item.tiendaId">
                                    @Html.DisplayFor(modelItem => item.Tienda.nombre)
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a asp-action="Details" asp-route-id="@item.idRopa" class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Ver Detalles</a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Añadir al carrito ($@Html.DisplayFor(modelItem => item.precio))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<partial name="_paginador" for="@ViewData["paginador"]" />
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagenRopa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tienda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagenRopa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.idMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tienda.idTienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.idCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idRopa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idRopa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idRopa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
