@*@model IEnumerable<eGym.Models.Ropa>*@
@model eGym.ModelsView.RopaViewModel

@{
    ViewData["Title"] = "Lista de Indumentaria";
}
<div class="row">
    <div class="col-lg-6">
        <form asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="busqNombre" value="@Model.busqNombre" placeholder="¿Qué estas buscando?" />
                    <select name="categoriaId" class="form-control" asp-items="@Model.ListaCategoria">
                        <option value="" aria-label="Recipient's username" aria-describedby="button-addon2">Todas</option>
                    </select>
                    <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
                </div>
           </form>
   </div>
   <br />
   @if(Model.busqueda== false){
        <img src="~/pictures/Presentacion/Informe anual.jpg" style="padding: 20px"/>
   }
</div>


<br />
<div class="row">
    @foreach (var item in Model.ListaRopa){
        <div class="col-md-4 col-xs-6 border-danger mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header bg-dark text-white">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.nombre)
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.idRopa" class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 align-content-center">
                        @if (!string.IsNullOrEmpty(item.imagenRopa)){
                            <img src="~/pictures/img-ropa/@item.imagenRopa" width="100%" asp-append-version="true" />
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].detalles): @*@Html.DisplayNameFor(model => model.detalles):*@</b>
                                @Html.DisplayFor(modelItem => item.detalles)</p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Categoria): </b> 
                                @*<b>@Html.DisplayNameFor(model => model.Categoria): </b>*@
                                <a asp-controller="Categorias" asp-action="Details" asp-route-id="@item.categoriaId">
                                    @Html.DisplayFor(modelItem => item.Categoria.nombre)
                                </a>
                            </p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Marca): @*@Html.DisplayNameFor(model => model.Marca):*@ </b>
                                <a asp-controller="Marcas" asp-action="Details" asp-route-id="@item.marcaId">
                                    @Html.DisplayFor(modelItem => item.Marca.nombre)
                                </a>
                            </p>
                            <p class="card-text">
                                <b>@Html.DisplayNameFor(model => model.ListaRopa[0].Tienda): @*@Html.DisplayNameFor(model => model.Tienda)*@</b>
                                <a asp-controller="Tiendas" asp-action="Details" asp-route-id="@item.tiendaId">
                                    @Html.DisplayFor(modelItem => item.Tienda.nombre)
                                </a> 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a asp-action="Details" asp-route-id="@item.idRopa" class="btn btn-outline-dark float-right">
                                    <i class="bi bi-eye-fill"></i> Ver Detalles</a>
                                <a href="@item.linkElemento" target="_blank" class="btn btn-outline-dark float-lg-end"><i class="bi bi-cart4"></i> Comprar ($@Html.DisplayFor(modelItem => @item.precio))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>
@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-dark" asp-action="Exportar">Exportar listado a CSV </a>
}
@*<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>*@
<partial name="_paginador" for="@Model.paginador]">
@await Html.PartialAsync("_CreateItem", "Ropas")
