@model eGym.Models.Marca

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resumen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenMarca)
        </dt>
        <dt class="col-sm-10">
            <input type="hidden" name="foto" id="foto" value="@Model.imagenMarca" />
            <img src="@(!string.IsNullOrEmpty(Model.imagenMarca) ? "/pictures/img-marca/"+Model.imagenMarca : "")" id="imagen" class="rounded-circle" style="max-width:150px" />
        </dt>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.idMarca">Edit</a> |
    <a class="btn btn-outline-primary" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
</div>
