@*@model IEnumerable<eGym.Models.Marca>*@
@model eGym.ModelsView.MarcaViewModel
@{
    ViewData["Title"] = "Lista de Marcas";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ListaMarca[0].imagenMarca)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ListaMarca[0].nombre)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.ListaMarca[0].resumen)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.ListaMarca) {
                <tr>
                    <td class="align-middle">
                            @if (!string.IsNullOrEmpty(item.imagenMarca))
                            {
                                <img src="~/pictures/img-marca/@item.imagenMarca" class="rounded-circle" style="max-width:150px" asp-append-version="true" />
                            }
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                        <td class="align-middle" style="max-width:250px">
                        @Html.DisplayFor(modelItem => item.resumen)
                    </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="text-lg-end align-middle">
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.idMarca"><i class="bi bi-pencil-square"></i>Editar</a> |
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.idMarca"><i class="bi bi-eye"></i>Detalles</a> |
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.idMarca"><i class="bi bi-trash"></i>Eliminar</a>
                            </td>
                        }
                    </tr>
        }
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-outline-dark" asp-controller="Ropas" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver a la Lista</a>
@await Html.PartialAsync("_CreateItem", "Marcas")
<partial name="_paginador" for="@Model.paginador">