@model eGym.Models.Color

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagenColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagenColor)
        </dd>
        <dt class="col-sm-2">
            <input type="hidden" name="foto" id="foto" value="@Model.imagenColor" />
            <img src="@(!string.IsNullOrEmpty(Model.imagenColor) ? "/pictures/img-colores/"+Model.imagenColor : "")" id="imagen" class="rounded-circle" style="max-width:50px" />
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idColor">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
